# Bajando datos de diferentes fuentes. Ejemplos

## Bajar datos de Bicimad

In [1]:
# Importamos librerias
import requests
import zipfile
import pandas as pd

In [3]:
url = 'https://pm1.narvii.com/6431/3088a72e09f5f0024926266d8ee1266f9598a1f7_hq.jpg'
respuesta = requests.get(url)

In [4]:
with open('maestro.jpg', 'wb') as f:
    f.write(respuesta.content)

In [5]:
filename = 'bicis.zip'
url = 'https://opendata.emtmadrid.es/getattachment/7517a650-ccdf-4ab1-b1b0-a1d13694472e/201906_Usage_Bicimad.aspx'

r = requests.get(url, allow_redirects=True)

In [6]:
# Guardamos el zip
with open(filename, 'wb') as f:
   f.write(r.content)

In [7]:
# Extraemos lo que hay dentro
with zipfile.ZipFile(filename, 'r') as zip_ref:
    zip_ref.extractall(".")

In [8]:
# Leemos los datos
datos_bicis = pd.read_json('201906_Usage_Bicimad.json',  lines=True, encoding ='latin-1')

In [9]:
# Vemos qu√© pinta tienen
datos_bicis.head()

,_id,user_day_code,idplug_base,user_type,idunplug_base,travel_time,idunplug_station,ageRange,idplug_station,unplug_hourTime,zip_code,track
0,{'$oid': '5cf83b752f3843a016be4e2f'},e4d55deb9ac172a8d8f5f0a32599815bd51b7c8760d67e...,21,1,8,219,90,0,66,{'$date': '2019-06-01T00:00:00.000+0200'},,NaN
1,{'$oid': '5cf83b762f3843a016be4e48'},8a0c4123e924a50a958f51985eb71aea750fb072438035...,19,1,19,359,71,4,136,{'$date': '2019-06-01T00:00:00.000+0200'},28039,NaN
2,{'$oid': '5cf83b762f3843a016be4e4f'},a6a9c1f74a68496000542210abc4fc2eba79e2756ad535...,17,1,7,375,39,4,38,{'$date': '2019-06-01T00:00:00.000+0200'},28013,NaN
3,{'$oid': '5cf83b762f3843a016be4e53'},5706c0bd494acc02279d532821c9666b0e506d4f81c838...,4,1,21,264,66,5,90,{'$date': '2019-06-01T00:00:00.000+0200'},28009,NaN
4,{'$oid': '5cf83b762f3843a016be4e54'},eb1b6d32bd4add5d5ff91af72a38786d61075c090383a5...,3,1,13,367,152,4,166,{'$date': '2019-06-01T00:00:00.000+0200'},28006,NaN

# Acceso a archivos de la pagina de datos.gob.es
Uno de los mayores cat√°logos de informaci√≥n p√∫blica descargable en Espa√±a

In [34]:
# https://datos.gob.es/es/catalogo/ea0003337-principales-indicadores-de-sostenibilidad1

import sslssl._create_default_https_context = ssl._create_unverified_context

url = 'https://data.renfe.com/dataset/928d911e-00ca-437b-be3f-068fc1f97800/resource/63d285e8-9f52-410b-8412-8a8c26f5ddb3/download/consumo-de-agua-y-materiales.csv'
datos = pd.read_csv(url, sep=(';'))
datos

SyntaxError: invalid syntax (<ipython-input-34-dd3b461d1411>, line 3)

In [15]:
# https://datos.gob.es/es/catalogo/ea0003337-principales-indicadores-de-sostenibilidad1

datos = pd.read_csv('consumo-de-agua-y-materiales.csv', sep=(';'))
datos

    A√±o  Consumo de agua (m3)  Aceites/grasas  (kg)  Pinturas (kg)
0  2019                903240                540511          88537
1  2018                917605                446983         116778
2  2017                923881                452534          96362
3  2016                952455                302202         125304
4  2015                941651                315302         130003
5  2014               1023534                319674         125448
6  2013                905703                308904          96946

# OpenStreetMap

In [16]:
# Amenities
# https://wiki.openstreetmap.org/wiki/Key:amenity

import requests
import json
import pandas as pd
overpass_url = "http://overpass-api.de/api/interpreter"
overpass_query = """
[out:json];
node["amenity"="restaurant"]
  (40.420801, -3.694702,40.423754, -3.688167); 
out;
"""
response = requests.get(overpass_url, 
                        params={'data': overpass_query})
print(response)
data = response.json()

<Response [200]>

In [23]:
data

{'version': 0.6,
 'generator': 'Overpass API 0.7.56.8 7d656e78',
 'osm3s': {'timestamp_osm_base': '2021-02-18T20:31:02Z',
  'copyright': 'The data included in this document is from www.openstreetmap.org. The data is made available under ODbL.'},
 'elements': [{'type': 'node',
   'id': 305536401,
   'lat': 40.4230858,
   'lon': -3.6935468,
   'tags': {'amenity': 'restaurant', 'name': 'La Castafiore'}},
  {'type': 'node',
   'id': 324580483,
   'lat': 40.4226068,
   'lon': -3.6932565,
   'tags': {'amenity': 'restaurant',
    'cuisine': 'japanese',
    'name': 'Sake Dining Himawari'}},
  {'type': 'node',
   'id': 3361315181,
   'lat': 40.4233148,
   'lon': -3.6925055,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '12',
    'addr:postcode': '28004',
    'addr:street': 'Calle de Do√±a B√°rbara de Braganza',
    'addr:subdistrict': 'Justicia',
    'amenity': 'restaurant',
    'cuisine': 'regional',
    'name': 'Ainhoa',
    'phone': '+34 913 08 27 26',
    'website': 'http://restauranteainhoa.es/'}},
  {'type': 'node',
   'id': 3425259022,
   'lat': 40.4219603,
   'lon': -3.6942702,
   'tags': {'amenity': 'restaurant',
    'name': 'La Kitchen',
    'source': 'survey'}},
  {'type': 'node',
   'id': 3425259024,
   'lat': 40.4219559,
   'lon': -3.6939049,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '9',
    'addr:postcode': '28004',
    'addr:street': 'Calle de Prim',
    'amenity': 'restaurant',
    'name': 'En La Gloria',
    'old_name': 'Rey Fernando',
    'source': 'survey',
    'wheelchair': 'no'}},
  {'type': 'node',
   'id': 3426628963,
   'lat': 40.4236949,
   'lon': -3.6916509,
   'tags': {'amenity': 'restaurant', 'name': 'Caf√© Espejo'}},
  {'type': 'node',
   'id': 3426800301,
   'lat': 40.4219515,
   'lon': -3.6935347,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '13',
    'addr:postcode': '28004',
    'addr:street': 'Calle de Prim',
    'amenity': 'restaurant',
    'contact:phone': '+34 91 564 19 13',
    'contact:website': 'https://tampurestaurante.com/',
    'cuisine': 'peruvian',
    'name': 'Tampu',
    'old_name': 'Bla, bla, bla',
    'wheelchair': 'no'}},
  {'type': 'node',
   'id': 3426800303,
   'lat': 40.422266,
   'lon': -3.694097,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '4',
    'addr:postcode': '28004',
    'addr:street': 'Calle del Conde de Xiquena',
    'amenity': 'restaurant',
    'contact:phone': '+34 915 31 26 37',
    'contact:website': 'http://casagades.es/',
    'name': 'Casa Gades'}},
  {'type': 'node',
   'id': 3426800308,
   'lat': 40.4231514,
   'lon': -3.6940615,
   'tags': {'amenity': 'restaurant', 'name': 'El Cano de Xiquena'}},
  {'type': 'node',
   'id': 3426800309,
   'lat': 40.4233452,
   'lon': -3.6926318,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '10',
    'addr:postcode': '28004',
    'addr:street': 'Calle de Do√±a B√°rbara de Braganza',
    'addr:subdistrict': 'Justicia',
    'amenity': 'restaurant',
    'cuisine': 'regional',
    'name': 'El Gato Persa'}},
  {'type': 'node',
   'id': 3426800318,
   'lat': 40.4224409,
   'lon': -3.6942202,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '12',
    'addr:postcode': '28004',
    'addr:street': 'Calle del Almirante',
    'amenity': 'restaurant',
    'contact:phone': '+34 91 026 87 94',
    'contact:website': 'http://www.cannibalrawbar.es/',
    'name': 'Cannibal Raw Bar',
    'old_name': 'Oliver'}},
  {'type': 'node',
   'id': 3428424428,
   'lat': 40.422395,
   'lon': -3.6911375,
   'tags': {'amenity': 'restaurant',
    'contact:website': 'http://www.masqmenos.com',
    'name': 'MasQMenos'}},
  {'type': 'node',
   'id': 4307227333,
   'lat': 40.4218723,
   'lon': -3.6902405,
   'tags': {'amenity': 'restaurant', 'name': 'Banzai'}},
  {'type': 'node',
   'id': 4339113687,
   'lat': 40.4211297,
   'lon': -3.6897958,
   'tags': {'amenity': 'restaurant',
    'cuisine': 'japanese',
    'name': 'dokidoki'}},
  {'type': 'node',
   'id': 4447160292,
   'lat': 40.4236005,
   'lon': -3.6937246,
   'tags': {'addr:city': 'Madrid',
    'addr:country': 'ES',
    'addr:housenumber': '2',
    'addr:postcode': '28004',
    'addr:street': 'Calle de Do√±a B√°rbara de Braganza',
    'addr:subdistrict': 'Justicia',
    'amenity': 'restaurant',
    'name': 'Luke',
    'old_name': 'Le Cabrera',
    'website': 'http://www.lecabrera.com/'}},
  {'type': 'node',
   'id': 4547342631,
   'lat': 40.4221408,
   'lon': -3.6908645,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '4',
    'addr:street': 'Calle de Recoletos',
    'amenity': 'restaurant',
    'name': 'Thai Garden 2112',
    'website': 'http://thaigarden2112.com/restaurantes/khlong.html'}},
  {'type': 'node',
   'id': 4596780491,
   'lat': 40.4223791,
   'lon': -3.6895175,
   'tags': {'addr:housenumber': '2',
    'addr:street': 'Calle de Gil de Santiva√±es',
    'amenity': 'restaurant',
    'cuisine': 'italian',
    'name': 'Flavia',
    'website': 'http://flaviamadrid.com/'}},
  {'type': 'node',
   'id': 4602972001,
   'lat': 40.4221513,
   'lon': -3.6905695,
   'tags': {'amenity': 'restaurant',
    'cuisine': 'arab',
    'name': 'Al-Mounia',
    'name:ar': 'ŸÖÿ∑ÿπŸÖ al movnia restaurant',
    'website': 'https://www.restaurantealmounia.es/'}},
  {'type': 'node',
   'id': 4688479045,
   'lat': 40.4227772,
   'lon': -3.6897814,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '2',
    'addr:postcode': '28001',
    'addr:street': 'Calle de Villanueva',
    'amenity': 'restaurant',
    'email': 'julien@sqd.es',
    'name': 'SQD Meat Point',
    'phone': '+34 91 435 30 71'}},
  {'type': 'node',
   'id': 4703448419,
   'lat': 40.4229908,
   'lon': -3.6936524,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '6',
    'addr:postcode': '28004',
    'addr:street': 'Calle del Marqu√©s de Monasterio',
    'amenity': 'restaurant',
    'contact:phone': '+34 639473966',
    'contact:website': 'http://noteolvidesrestaurante.com/',
    'name': 'Noteolvides'}},
  {'type': 'node',
   'id': 4703448421,
   'lat': 40.4222548,
   'lon': -3.6942512,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '3',
    'addr:postcode': '28004',
    'addr:street': 'Calle del Conde de Xiquena',
    'amenity': 'restaurant',
    'contact:phone': '+34 916 68 38 60',
    'contact:website': 'http://www.mercirestaurante.com/',
    'name': 'Merci'}},
  {'type': 'node',
   'id': 4778747542,
   'lat': 40.422576,
   'lon': -3.694493,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '11',
    'addr:postcode': '28004',
    'addr:street': 'Calle del Almirante',
    'amenity': 'restaurant',
    'contact:facebook': 'https://es-es.facebook.com/Restaurantemortadella/',
    'contact:phone': '+34 915321850',
    'contact:website': 'http://mortadella.es/',
    'cuisine': 'italian',
    'name': 'Mortadella'}},
  {'type': 'node',
   'id': 4778747545,
   'lat': 40.4220813,
   'lon': -3.6907483,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '4',
    'addr:postcode': '28001',
    'addr:street': 'Calle de Recoletos',
    'amenity': 'restaurant',
    'contact:phone': '+34 914 31 84 17',
    'contact:website': 'https://newyorkburger.es',
    'cuisine': 'burger',
    'name': 'New York Burger'}},
  {'type': 'node',
   'id': 4778747546,
   'lat': 40.4218211,
   'lon': -3.6898244,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '13',
    'addr:postcode': '28001',
    'addr:street': 'Calle de Recoletos',
    'amenity': 'restaurant',
    'contact:phone': '+34 91 575 6453',
    'contact:website': 'http://madrid.mestizomx.com/',
    'cuisine': 'mexican',
    'name': 'Mestizo'}},
  {'type': 'node',
   'id': 4885056598,
   'lat': 40.4208179,
   'lon': -3.6888032,
   'tags': {'addr:city': 'Madrid',
    'addr:country': 'ES',
    'addr:housenumber': '1',
    'addr:postcode': '28001',
    'addr:street': 'Calle de Serrano',
    'amenity': 'restaurant',
    'cuisine': 'sushi',
    'name': 'Sushi Shop',
    'source': 'survey'}},
  {'type': 'node',
   'id': 5068790959,
   'lat': 40.422809,
   'lon': -3.6941271,
   'tags': {'amenity': 'restaurant', 'name': 'Restaurante la Buena Vida'}},
  {'type': 'node',
   'id': 5622545022,
   'lat': 40.422426,
   'lon': -3.6934185,
   'tags': {'addr:housenumber': '20',
    'addr:street': 'Calle del Almirante',
    'amenity': 'restaurant',
    'name': 'Delirant'}},
  {'type': 'node',
   'id': 6684049135,
   'lat': 40.422211,
   'lon': -3.6907019,
   'tags': {'amenity': 'restaurant',
    'name': 'Pelotari',
    'phone': '+34 915 78 24 97',
    'website': 'http://pelotari-asador.com/'}},
  {'type': 'node',
   'id': 6806382285,
   'lat': 40.4222351,
   'lon': -3.6907431,
   'tags': {'amenity': 'restaurant', 'name': 'El Pelotari'}}]}

In [30]:
elements = data['elements']
places = {'lat': [], 'lon': [], 'name': [], 'address': []}
for i in elements:
    try:
        latitude = i.get('lat')
        longitude = i.get('lon')
        name = i.get('tags').get('name')
        street = i.get('tags').get('addr:street')
        number = i['tags']['addr:housenumber']
        
        
        places['lat'].append(latitude)
        places['lon'].append(longitude)
        places['name'].append(name)
        places['address'].append(street + ' ' + str(number))
        
    except:
        continue


df = pd.DataFrame(places)
df

,lat,lon,name,address
0,40.423315,-3.692506,Ainhoa,Calle de Do√±a B√°rbara de Braganza 12
1,40.421956,-3.693905,En La Gloria,Calle de Prim 9
2,40.421951,-3.693535,Tampu,Calle de Prim 13
3,40.422266,-3.694097,Casa Gades,Calle del Conde de Xiquena 4
4,40.423345,-3.692632,El Gato Persa,Calle de Do√±a B√°rbara de Braganza 10
5,40.422441,-3.694220,Cannibal Raw Bar,Calle del Almirante 12
6,40.423600,-3.693725,Luke,Calle de Do√±a B√°rbara de Braganza 2
7,40.422141,-3.690864,Thai Garden 2112,Calle de Recoletos 4
8,40.422379,-3.689518,Flavia,Calle de Gil de Santiva√±es 2
9,40.422777,-3.689781,SQD Meat Point,Calle de Villanueva 2
10,40.422991,-3.693652,Noteolvides,Calle del Marqu√©s de Monasterio 6
11,40.422255,-3.694251,Merci,Calle del Conde de Xiquena 3
12,40.422576,-3.694493,Mortadella,Calle del Almirante 11
13,40.422081,-3.690748,New York Burger,Calle de Recoletos 4
14,40.421821,-3.689824,Mestizo,Calle de Recoletos 13
15,40.420818,-3.688803,Sushi Shop,Calle de Serrano 1
16,40.422426,-3.693418,Delirant,Calle del Almirante 20

## Web scrapping de IMDB

In [25]:
soup.select('td.titleColumn')[0].get_text()

NameError: name 'soup' is not defined

In [57]:
soup.select('td.titleColumn a')[0]

In [45]:
soup.select('td.titleColumn a')[0].attrs.get('title')

'Frank Darabont (dir.), Tim Robbins, Morgan Freeman'

In [65]:
soup.select('td.ratingColumn strong')[0].get_text()

'9.2'

In [14]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

# Download IMDB's Top 250 data
url = 'http://www.imdb.com/chart/top'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

movies = soup.select('td.titleColumn')
links = [a.attrs.get('href') for a in soup.select('td.titleColumn a')]
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
ratings = [b.attrs.get('data-value') for b in soup.select('td.posterColumn span[name=ir]')]
votes = [b.attrs.get('data-value') for b in soup.select('td.ratingColumn strong')]

imdb = []

# Store each item into dictionary (data), then put those into a list (imdb)
for index in range(0, len(movies)):
    # Seperate movie into: 'place', 'title', 'year'
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie[:len(str(index))-(len(movie))]
    data = {"movie_title": movie_title,
            "year": year,
            "place": place,
            "star_cast": crew[index],
            "rating": ratings[index],
            "vote": votes[index],
            "link": links[index]}
    imdb.append(data)
df = pd.DataFrame(imdb)
df


#for item in imdb:
#    print(item['place'], '-', item['movie_title'], '('+item['year']+') -', 'Starring:', item['star_cast'])

,movie_title,year,place,star_cast,rating,vote,link
0,Cadena perpetua,1994,1,"Frank Darabont (dir.), Tim Robbins, Morgan Fre...",9.222784694063787,None,/title/tt0111161/
1,El padrino,1972,2,"Francis Ford Coppola (dir.), Marlon Brando, Al...",9.148822280951551,None,/title/tt0068646/
2,El padrino: Parte II,1974,3,"Francis Ford Coppola (dir.), Al Pacino, Robert...",8.981089741690383,None,/title/tt0071562/
3,El caballero oscuro,2008,4,"Christopher Nolan (dir.), Christian Bale, Heat...",8.973489985697055,None,/title/tt0468569/
4,12 hombres sin piedad,1957,5,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb",8.930610597199692,None,/title/tt0050083/
...,...,...,...,...,...,...,...
245,Terminator,1984,246,"James Cameron (dir.), Arnold Schwarzenegger, L...",8.009025588107761,None,/title/tt0088247/
246,Mandarinas,2013,247,"Zaza Urushadze (dir.), Lembit Ulfsak, Elmo N√ºg...",8.008114051381694,None,/title/tt2991224/
247,A Silent Voice,2016,248,"Naoko Yamada (dir.), Miyu Irino, Saori Hayami",8.008034087745433,None,/title/tt5323662/
248,Fanny y Alexander,1982,249,"Ingmar Bergman (dir.), Bertil Guve, Pernilla A...",8.007547063384985,None,/title/tt0083922/
249,Aladd√≠n,1992,250,"Ron Clements (dir.), Scott Weinger, Robin Will...",8.007412410045314,None,/title/tt0103639/

## Acediendo a datos de twitter
Para esta demo utilizaremos el paquete [tweepy](https://www.tweepy.org/) para atacar datos de Twitter desde Python.

Necesitamos registrarnos en la [web de desarrolladores](https://developer.twitter.com/en/apply-for-access) para obtener unas credenciales.

In [31]:
import tweepy  
import time
import csv

import json

with open('./credentials.json') as f:
    credentials = json.load(f)
    
    
# Credenciales de la web de desarroladores
access_token = credentials['access_token']  
access_token_secret = credentials['access_token_secret']  
consumer_key = credentials['consumer_key']
consumer_secret = credentials['consumer_secret'] 

# Nos autenticamos en la API
try:
    auth = tweepy.OAuthHandler(consumer_key, consumer_secret)  
    auth.set_access_token(access_token, access_token_secret)  
    api = tweepy.API(auth,wait_on_rate_limit=True)
    print("Authentication OK")
except:
    print("Error during authentication")

Authentication OK

In [35]:
csvFile = open('tweet_covid19.csv', 'a')

#Use csv Writer
csvWriter = csv.writer(csvFile)

for tweet in tweepy.Cursor(api.search,q="#COVID19",count=50,
                           lang="es",
                           since="2020-09-05").items(50):
    
    print(tweet.created_at, tweet.text)
    csvWriter.writerow([tweet.created_at, tweet.text.encode('utf-8')])

2021-02-19 10:06:34 RT @Telefuturo: #COVID19 R√©cord de contagios en un solo d√≠a. El Ministerio de Salud report√≥ este jueves 17 nuevos fallecimientos y 1.369 po‚Ä¶
2021-02-19 10:06:31 RT @kafiat: Mi madre, 89 a√±os. Acaban de ponerle la primera dosis de la vacuna para la #COVID19. Me ha dicho textualmente: como yo no tengo‚Ä¶
2021-02-19 10:06:30 ¬øPor qu√© no se han manifestado en los meses de Pandemia?

¬øPor qu√© ahora s√≠ lo hacen recurriendo a la violencia? ¬ø‚Ä¶ https://t.co/WieHIm4KHj
2021-02-19 10:06:27 RT @luchaalmada: #BalanceCovid19‚û°Ô∏è Se cumplen 339 d√≠as de la pandemia en Venezuela y durante las √∫ltimas 24 horas el pa√≠s registr√≥ 392 nuev‚Ä¶
2021-02-19 10:06:20 RT @IAIM_VE: #Plan200Carabobo || El personal que integra la Biobrigada de desinfecci√≥n del #IAIM, diariamente se esfuerza por recorrer las‚Ä¶
2021-02-19 10:06:18 RT @ALymphsLife: üíâVirus para combatir los virus?
Hoy, en esta ilustraci√≥n, os explicamos c√≥mo funcionan las vacunas contra la #COVID19 como‚Ä¶
2021-02-19 10:06:16 RT @Ciencia_EE: #LoM√°sLe√≠do Claves para saber cu√°ndo acabar√° la tercera ola de #COVID19 en Espa√±a, por @guilleortiz_77
 https://t.co/181mW‚Ä¶
2021-02-19 10:06:15 RT @Ciencia_EE: #LoM√°sLe√≠do Claves para saber cu√°ndo acabar√° la tercera ola de #COVID19 en Espa√±a, por @guilleortiz_77
 https://t.co/181mW‚Ä¶
2021-02-19 10:06:04 Hoteleros rechazan cambio de fecha para Semana Santa https://t.co/LY99s9uKRK #Canaturh #Coronavirus #COVID19‚Ä¶ https://t.co/FfYXDI7dB7
2021-02-19 10:06:03 #Mesopotamia camino en una Rueda de hamsterüêøÔ∏è La locura cotiza al alza in the #WorldRadioDay Para k pagar impuestos‚Ä¶ https://t.co/q7CDYk0gAS
2021-02-19 10:06:02 RT @Fegemu_Automat: Nuestro partner @Waldmann ha desarrollado Waldmann ZAPP!. El dispositivo limpia el aire de la habitaci√≥n y elimina hast‚Ä¶
2021-02-19 10:06:00 RT @teleSURtv: #Venezuela üáªüá™, que inici√≥ este jueves el proceso de vacunaci√≥n contra la #COVID19, inform√≥ que durante las √∫ltimas 24 horas‚Ä¶
2021-02-19 10:05:58 RT @SaludPublicaEs: üöØNo tires tu mascarilla en la calle. Suponen un riesgo de contagio de #COVID19 para los dem√°s y ensucian el entorno.

‚úÖ‚Ä¶
2021-02-19 10:05:57 RT @pedropprada: En 48 hrs 6 medios influyentes del mundo rese√±aron avance exitoso de candidato vacunal de #Cuba vs #COVID19 #Soberana2 que‚Ä¶
2021-02-19 10:05:56 RT @OBichero: Amartizando #humor #davila #humorgalego #obichero #covid19 #covid_19 #RoverLanding #PerseveranceRover #mars2021 #NASAPersever‚Ä¶
2021-02-19 10:05:54 RT @SaluDigital_es: Dise√±an una aguja de espacio muerto que podr√≠a ayudar a la vacunaci√≥n masiva contra la #COVID19 https://t.co/0NAEQAegZO
2021-02-19 10:05:51 RT @DathosBD: CORONAVIRUS #COVID19 VARIANTES √∫ltimos 31 d√≠as, Casos necesarios para provocar 1 Fallecido üî¥Brasil 46 üî¥UK 23 ‚ö´Ô∏èSud√°frica 14‚Ä¶
2021-02-19 10:05:47 RT @N_Aljarafe: El ayuntamiento de #Espartinas trasladar√° de forma gratuita a los mayores de 80 a√±os que no tengan medios para desplazarse‚Ä¶
2021-02-19 10:05:46 RT @pedropprada: En 48 hrs 6 medios influyentes del mundo rese√±aron avance exitoso de candidato vacunal de #Cuba vs #COVID19 #Soberana2 que‚Ä¶
2021-02-19 10:05:44 RT @DathosBD: CORONAVIRUS #COVID19 VARIANTES √∫ltimos 31 d√≠as, Casos necesarios para provocar 1 Fallecido üî¥Brasil 46 üî¥UK 23 ‚ö´Ô∏èSud√°frica 14‚Ä¶
2021-02-19 10:05:41 RT @ecuainm_oficial: ‚ñ∂Ô∏è#ATENCI√ìN Tras solicitud de vacunas contra #COVID19, de fiscal Diana Salazar, el Ministro de @Salud_Ec respondi√≥ fav‚Ä¶
2021-02-19 10:05:41 RT @MoroccoPanama: #COVID19: La Comisi√≥n Europea est√° dispuesta a participar en la financiaci√≥n de una unidad de producci√≥n de vacunas en #‚Ä¶
2021-02-19 10:05:39 RT @Farmaceuticos_: ¬øCu√°les son las reacciones adversas m√°s frecuentes tras la vacunaci√≥n frente a #COVID19?

Te lo explicamos en una senc‚Ä¶
2021-02-19 10:05:31 RT @EnMalaka: Me acaban de enviar esto ... y la verdad es que no puedo estar m√°s de acuerdo
Esto del #COVID19 cada vez se entiende menos h‚Ä¶
2021-02-19 10:05:30 RT @CancilleriaVE: Canciller @jaarreaza: "El mundo se enfrenta a la pandemia m√°s atroz de su historia, se necesita una respuesta unificada‚Ä¶
2021-02-19 10:05:27 RT @MovimientoEurop: El #Brexit ha servido de vacuna y de ant√≠doto contra el anti europe√≠smo como se ha visto en Italia con el nuevo gobier‚Ä¶
2021-02-19 10:05:23 RT @ClaudiaPavlovic: En unos minutos, transmisi√≥n con informaci√≥n importante sobre #COVID19.

#SigamosSonora
2021-02-19 10:05:16 RT @TekitoKreta: Por cada 4mil vacunas #Covid19 hay 7 millones de paraguayos pelotudos.
#Matem√°ticaSimple
2021-02-19 10:05:06 ¬°Seguimos avanzando en la lucha contra la #Covid19! Las principales aerol√≠neas del mundo se comprometen a ayudar a‚Ä¶ https://t.co/O3xGDu2hTW
2021-02-19 10:05:03 | Recomendado  | Primicias | #COVID19 #Risaralda #Salud GOBERNADOR DIO INSTRUCCIONES DE INICIAR LA VACUNACI√ìN DESDE‚Ä¶ https://t.co/qQRsVD6WPZ
2021-02-19 10:05:01 RT @cofcam_clm: üë©‚Äçüî¨üßë‚Äçüî¨ Los @Farmaceuticos_ ponen en marcha una campa√±a 360¬∫ sobre las #vacunas
frente a la #COVID19

M√°s ‚ÑπÔ∏è https://t.co/‚Ä¶
2021-02-19 10:05:00 #Venezuela üáªüá™, que inici√≥ este jueves el proceso de vacunaci√≥n contra la #COVID19, inform√≥ que durante las √∫ltimas‚Ä¶ https://t.co/rLEmp6VJgf
2021-02-19 10:04:59 RT @ANIIuy: TEST SEROL√ìGICOS DESARROLLADOS EN URUGUAY üá∫üáæ

üëâ Junto a @MSPUruguay y @el_BID otorgamos UYU 8.000.000 para el desarrollo y prod‚Ä¶
2021-02-19 10:04:58 RT @EcuadorGuardias: üò°üò°üò°Que indignaci√≥n &amp;@$?!@, doy servicio en un hospital p√∫blico todos los d√≠as estoy en contacto con pacientes #Covid19‚Ä¶
2021-02-19 10:04:51 RT @Mla_arg: Nuevas medidas en la @ComunidadMadrid frente al #COVID19 https://t.co/wiB0vm6PmJ
2021-02-19 10:04:41 RT @teleSURtv: #ENVIDEO | El Gobierno de #M√©xicoüá≤üáΩ denunci√≥ ante el Consejo de Seguridad de la #ONU el acaparamiento de vacunas contra la #‚Ä¶
2021-02-19 10:04:36 RT @GNB_Capital: #19Feb Pueblo de Venezuela desde la .@GNB_Capital
 les deseamos muy buenos dias, y #FelizViernes recordandoles que debes c‚Ä¶
2021-02-19 10:04:35 RT @Telefuturo: #COVID19 R√©cord de contagios en un solo d√≠a. El Ministerio de Salud report√≥ este jueves 17 nuevos fallecimientos y 1.369 po‚Ä¶
2021-02-19 10:04:27 RT @SEMPSPH: üîµ@semfyc y @SEMPSPH solicitan que la vacunaci√≥n frente a la #COVID19 se haga en Atenci√≥n Primaria y en #MedicinaPreventiva.
üîµ‚Ä¶
2021-02-19 10:04:25 RT @TransporteGobVe: #TeInformamos üì∞üì¢ Pasajeros de @TurkishAirlines con destino a #Estambul, realizaron embarque el pasado #16Feb, en el @I‚Ä¶
2021-02-19 10:04:19 RT @Alter_Caribe: Con ley buscan suspender embargo de bienes por la pandemia del covid-19 @clorduy @CamaraColombia @PCambioRadical https://‚Ä¶
2021-02-19 10:04:15 RT @candangaNoticia: ATENCI√ìN | Luego de practicarse pruebas PCR por sospechas de #COVID19, el canciller de #Venezuela @jaarreaza sali√≥ neg‚Ä¶
2021-02-19 10:04:13 RT @Sindicato_SATSE: No podemos entender c√≥mo no hay ni un solo representante de @sanidadgob en el Comit√© T√©cnico que asesorar√° al Gobierno‚Ä¶
2021-02-19 10:04:06 RT @TransporteGobVe: #Sab√≠asQue üîé 83 connacionales arribaron al @IAIM_VE desde Ecuador, en el marco del #PlanVueltaALaPatria üõ©Ô∏è Asimismo, n‚Ä¶
2021-02-19 10:04:04 RT @mhenriquezvzla: ¬°Enhorabuena! Iniciar√° aplicaci√≥n de dosis contra el #Covid19 a personal de salud venezolano con la vacuna rusa #Sputni‚Ä¶
2021-02-19 10:04:00 RT @sanchezcastejon: Esta ma√±ana me he reunido con @CortadaFranc, director general de @OxfamIntermon. Hemos abordado la respuesta de nuestr‚Ä¶
2021-02-19 10:03:56 RT @DathosBD: CORONAVIRUS #COVID19 VARIANTES √∫ltimos 31 d√≠as, Casos necesarios para provocar 1 Fallecido üî¥Brasil 46 üî¥UK 23 ‚ö´Ô∏èSud√°frica 14‚Ä¶
2021-02-19 10:03:56 Somos WISP (Wireless Internet Service Provider) les damos servicios a traves de enlaces inal√°mbricos todos los Alto‚Ä¶ https://t.co/TL3fXNcqFf
2021-02-19 10:03:55 RT @WaykaPeru: #VacunaGate | Mar√≠a del Carmen Ol√≥rtegui (@MACA_OLORTEGUI), candidata al congreso por @PFuerzaPopular en La Libertad, fue va‚Ä¶
2021-02-19 10:03:54 RT @ViceVenezuela: #EnVivo || Vicepdta. Ejecutiva de la Rep√∫blica, ofrece declaraciones sobre Plan Nacional de Vacunaci√≥n contra el #COVID1‚Ä¶

## Bajando datos de la calidad del aire

Tambi√©n existe un dataset en Kaggle, pero vamos a ver un ejemplo

In [30]:
import pandas as pd
import requests
import io
import csv

url2 = "http://www.mambiente.munimadrid.es/opendata/horario.txt"

datos=pd.read_csv(url2, header=None)#.content

In [31]:
datos

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
0,28,79,4,1,38,2,2020,9,26,9.0,...,0,N,0,N,0,N,0,N,0,N
1,28,79,4,6,48,2,2020,9,26,0.1,...,0,N,0,N,0,N,0,N,0,N
2,28,79,4,7,8,2,2020,9,26,1.0,...,0,N,0,N,0,N,0,N,0,N
3,28,79,4,8,8,2,2020,9,26,12.0,...,0,N,0,N,0,N,0,N,0,N
4,28,79,4,12,8,2,2020,9,26,13.0,...,0,N,0,N,0,N,0,N,0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,28,79,60,7,8,2,2020,9,26,1.0,...,0,N,0,N,0,N,0,N,0,N
150,28,79,60,8,8,2,2020,9,26,12.0,...,0,N,0,N,0,N,0,N,0,N
151,28,79,60,10,47,2,2020,9,26,6.0,...,0,N,0,N,0,N,0,N,0,N
152,28,79,60,12,8,2,2020,9,26,14.0,...,0,N,0,N,0,N,0,N,0,N
153,28,79,60,14,6,2,2020,9,26,63.0,...,0,N,0,N,0,N,0,N,0,N